{% extends 'base.html.twig' %}

{% block title %}{% trans %}Connection{% endtrans %}
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% trans %}Connexion{% endtrans %}</h1>
		</div>
	</div>


	<div class="text-center">
		{% if error %}
			<div class="alert alert-danger">
				{{error.messageKey}}
			</div>
		{% endif %}
		

		<h4 class="mt-5 mb-5">{% trans %}Connectez-vous{% endtrans %}</h4>
		<div class="container login-form">

				<form action=" {{ path('security_login') }}" class="form-signin" method="post">
					<input placeholder="{% trans %}Adresse Email{% endtrans %}" required name="_username" type="text" class="form_css mb-3" ></input>
					<br>
					<input placeholder="{% trans %}Mot de passe{% endtrans %}" required name="_password" type="password" class="form_css mb-4"></input>
					<br>
					<a class="sizeForgotPassword" href="{{path('security_password_forgot')}}" >{% trans %}Mot de passe oublié{% endtrans %} ?</a>
					<br>
					<button type="submit" class="btn btn_form_css btn-lg mt-4 mb-3">
						{% trans %}Se connecter{% endtrans %}
					</button>

					<div class="mt-4">
						<span class="meta">{% trans %}Vous n'avez pas encore de compte ?{% endtrans %}</span>
						<br>
						<a href="{{path('security_register')}}" id="text">{% trans %}Inscrivez-vous{% endtrans %}</a>
					</div>
				</form>
		</div>
	</div>

{% endblock %}
