{% extends 'base.html.twig' %}

{% block title %}{% trans %}Connection{% endtrans %}
{% endblock %}

{% block body %}

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% trans %}Connexion{% endtrans %}</h1>
		</div>
	</div>


			<div class="container alert alert-success text-center">
				<p>un mail vous a été envoyé, veuillez confirmer votre compte pour vous y connecter.</p>
	
				<p style="display:inline;"> Rien reçu ? verifiez vos spams ou </p><a href="{{path('resend_mail',{'tid' : tid})}}"> renvoyer un mail</a>
			</div>
	

{% endblock %}
