{% extends 'base.html.twig' %}

{% block title %}{% trans %}Réinitialiser le mot de passe{% endtrans %}
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="h1-respons">{% trans %}Réinitialisez voter mot de passe{% endtrans %}</h1>
		</div>
	</div>


	<div class="m-4 text-center">
		{% if error is not empty %}
			<div class="alert alert-danger">
				{{error}}
			</div>
		{% endif %}
		{% if msg is not empty %}
			<div class="alert alert-success">
				{{msg}}
			</div>
		{% endif %}
		

		<h4 class="mt-5 mb-5 h4-respons">{% trans %}Entrez votre addresse email{% endtrans %}</h4>
		<div class="container">
			<div class="row">

				<form action=" {{ path('security_password_forgot') }}" class="form-signin width-responsive mx-auto" method="post">
					<input placeholder="{% trans %}Adresse Email{% endtrans %}" required name="email" type="text" class="form_css mb-3" ></input>			
					<br>
					<button type="submit" class="btn btn_form_css btn-lg mt-4 mb-3">
					Réinitialiser
					</button>

					
				</form>

			</div>
		</div>

	</div>

{% endblock %}