{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Solidarity-Bond</h1>
			<p class="lead">Bienvenue sur le site de Solidarity-Bond, un projet mis en place par des étudiants du CESI Strasbourg dans le but de vendre des visières à bas prix !</p>
		</div>
	</div>

	{# Alerte pour message envoyé #}

	<div class="container">
		<div class="row">
		{% for message in app.flashes('succes') %}
			<div class="alert alert-success alert-dismissible fade show" role="alert" id="notification">
				{{message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
 				</button>
			</div>
   		{% endfor %}
		</div>
	</div>

	

</div>{% endblock %}
