{% extends 'base.html.twig' %}

{% block title %}{% trans %}Page d'accueil{% endtrans %}
{% endblock %}

{% block body %}
<div>
	<div class="jumbotron jumbotron-fluid jumb-top-m ">
		<div class="container">
			<h1 class="display-4">Solidarity-Bond</h1>
			<p class="lead">{% trans %}Bienvenue sur le site de Solidarity-Bond de Strasbourg, un projet mis en place par des étudiants du CESI Strasbourg dans le but de vendre des visières et outils pour les commerçants et particuliers !{% endtrans %}</p>
		</div>
	</div>
</div>

<div class="container w-50 mx-auto">

		<div class="row">
		{% for message in app.flashes('succes') %}
			<div class="alert alert-success alert-dismissible fade show" role="alert" id="notification">
				{{message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
 				</button>
			</div>
   		{% endfor %}
		</div>

<div class="container mt-3">
		<h1>{% trans %}Présentation du projet{% endtrans %}</h1>
		<br><br>
		<p>
                        {% trans %}Solidarity Bond est un projet qui a pour objectif de mettre en place un dispositif pour venir en aide aux personnes ayant besoins de protection.{% endtrans %}<br>
                        {% trans %}Solidarity Bond imprime des visières de protections que cela soit pour des professionnels de la santé, des entreprises, des commerces ou encore des particuliers.
						 Il y a également un outil permettant d'ouvrir des portes ou d'autre actions nécessitant de toucher des surfaces.{% endtrans %}
                <br><br>
                        {% trans %}Les visières et les outils sont imprimé au sein du FabLab de notre École d'ingénieur le CESI avec l'aide de notre FabLab Manager.{% endtrans %}</p>
                <br><br>
</div>
	
	<div id="carouselCaptions" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
		<div class="carousel-inner justify-content-center">
			<div class="carousel-item active">
			<img src="/images/Visieres impri run.jpg" class="d-block carrou" alt="Photo Visières sur imprimante">
			
			</div>
			<div class="carousel-item">
			<img src="/images/Visieres impri.jpg" class="d-block carrou" alt="Photo Visières">
			
			</div>
			<div class="carousel-item">
			<img src="/images/Visieres complet.jpg" class="d-block carrou" alt="Photo Visières assembler">
			
			</div>
			<div class="carousel-item">
			<img src="/images/Tools_COVID-19-1.png" class="d-block carrou" alt="Photo Outils-1">
			
			</div>
			<div class="carousel-item">
			<img src="/images/Tools_COVID-19-2.png" class="d-block carrou" alt="Photo Outils-2">
			
			</div>
			<div class="carousel-item">
			<img src="/images/Tools_COVID-19-3.png" class="d-block carrou" alt="Photo Outils-3">
			
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

{# <div class="container mt-5 w-50 mx-auto">
	<div class="row">
		<h1 class="col-12">Présentation des objets</h1>
		<br><br><br>
		<div class="row col-6">
			<p></p>
		</div>
	</div>
</div> #}

<div style="text-align:center; margin-top; 50px">
	<h3>
		Point Coronavirus à la date du <span id="date"></span>
	</h3>

	<button class="world-btn" onclick="">Monde</button>
	<button class="france-btn" onclick="">France</button>
</div>



	<div class=" mt-5 w-50 mx-auto world-anim" id="world" style="float:left; ">
	<div class="index-div-left">
	<hr></hr>
	<h5> Nombre de cas depuis le debut <h5>
	<h5 class="mt-5"><span id="total-cases"></span><h5>
	</div>
	<div class="index-div-right">
	<hr></hr>
	<h5> Nombre de cas guéris depuis le debut <h5>
	<h5 class="mt-5"><span id="total-recovered"></span><h5>
	</div>
	
	<div class="index-div-left">
	<hr></hr>
	<h5> Nombre de cas morts depuis le debut <h5>
	<h5 class="mt-5"><span id="total-deaths"></span><h5>
	</div>
	<div class="index-div-right">
	<hr></hr>
	<h5> Nombre de nouveaux cas aujourd'hui <h5>
	<h5 class="mt-5"><span id="today-cases"></span><h5>
	</div>
	<div class="index-div-left">
	<hr></hr>
	<h5> Nombre de nouveaux cas morts aujourd'hui <h5>
	<h5 class="mt-5"><span id="today-deaths"></span><h5>
	</div>
	<div class="index-div-right">
	<hr></hr>
	<h5> Nombre de pays touchés depuis le debut<h5>
	<h5 class="mt-5"><span id="countries"></span><h5>
	</div>
</div>


<div class=" mt-5 w-50 mx-auto france-anim" id="france" style="float:right">
	<div class="index-div-left">
	<hr></hr>
	<h5> Nombre de cas depuis le debut <h5>
	<h5 class="mt-5"><span id="total-casesfr"></span><h5>
	</div>

	<div class="index-div-right">
	<hr></hr>
	<h5> Nombre de cas morts depuis le debut <h5>
	<h5 class="mt-5"><span id="total-deathsfr"></span><h5>
	</div>
	<div class="index-div-left">
	<hr></hr>
	<h5> Nombre de nouveaux cas aujourd'hui <h5>
	<h5 class="mt-5"><span id="today-casesfr"></span><h5>
	</div>
	<div class="index-div-right">
	<hr></hr>
	<h5> Nombre de nouveaux cas morts aujourd'hui <h5>
	<h5 class="mt-5"><span id="today-deathsfr"></span><h5>
	</div>

</div>
<br><br><br><br>


<div class=" w-50 mx-auto" style="margin-top:600px">

	<h1>{% trans %}Recommandation du gouvernement{% endtrans %}</h1>
	<br><br>
	<img src="images/bienporter_son_masque.png" class="img-fluid" alt="gouvernement_image">
	<br>
	<blockquote class="blockquote mb-5">
		<p>{% trans %}Les visières sont un moyen supplémentaire de protection face aux virus transmis par les gouttelettes. Néanmoins, elles n’ont pas pour vocation de remplacer les masques pour le grand public. Les visières sont essentiellement utilisées en milieu hospitalier, où les soignants côtoient de nombreux malades. Le gouvernement, en lien avec les producteurs nationaux, travaille à la fabrication massive de masques grand public lavables, répondant à des normes strictes afin de pouvoir équiper toute la population.{% endtrans %}
		<br><br>
		{% trans %}De plus, pour rappel, le port de masque (et de visière) ne dispense pas d’une application rigoureuse des gestes barrières, de l’hygiène des mains et du respect de la distanciation sociale.{% endtrans %} </p>
		<footer class="blockquote-footer text-right"><a href="https://www.gouvernement.fr/info-coronavirus/masques-grand-public"><cite title="Info covid-19 gouvernement">Info COVID-19 | Gouvernement.fr</cite></a></footer>
	</blockquote>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script >

$(document).ready(function(){
		$('#world').css("transform","translate(50%,0)");
		$('#france').css("transform","translate(50%,0)");
		$("#france").fadeOut("slow");
		$("#world").fadeIn("slow");
    $(".france-btn").click(function(){
		$('#world').css("transform","translate(-50%,0)");
		$('#france').css("transform","translate(-50%,0)");
		$("#world").fadeOut("slow");
		$("#france").fadeIn("slow");
	
	});
	$(".world-btn").click(function(){
		$('#world').css("transform","translate(50%,0)");
		$('#france').css("transform","translate(50%,0)");
		$("#france").fadeOut("slow");
		$("#world").fadeIn("slow");
 	 });
});


</script>
<script>

		var settings = {
			"async": true,
			"crossDomain": true,
			"url": "https://api.thevirustracker.com/free-api?global=stats",
			"method": "GET",

		}

		$.ajax(settings).done(function (response) {
			var today = new Date();
			var dd = String(today.getDate()).padStart(2, '0');
			var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
			var yyyy = today.getFullYear();
			today = mm + '/' + dd + '/' + yyyy;
			var totalcases = Object.values(response)[0][0].total_cases
			var totaldeaths = Object.values(response)[0][0].total_deaths;
			var countries = Object.values(response)[0][0].total_affected_countries;
			var totalrecovered = Object.values(response)[0][0].total_recovered;
			var todaycases = Object.values(response)[0][0].total_new_cases_today;
			var todaydeaths = Object.values(response)[0][0].total_new_deaths_today;
			document.getElementById("date").innerHTML=today;
			document.getElementById("total-deaths").innerHTML=totaldeaths;
			document.getElementById("total-cases").innerHTML=totalcases;
			document.getElementById("total-recovered").innerHTML=totalrecovered;
			document.getElementById("today-cases").innerHTML=todaycases;
			document.getElementById("today-deaths").innerHTML=todaydeaths;
			document.getElementById("countries").innerHTML=countries;
			
			
			
		});
		var settings2 = {
			"async": true,
			"crossDomain": true,
			"url": "https://api.thevirustracker.com/free-api?countryTimeline=FR",
			"method": "GET",

		}

		$.ajax(settings2).done(function (response2) {
			var today = new Date();
			var FRTL = response2.timelineitems[0];
			var lastday = FRTL[Object.keys(FRTL)[Object.keys(FRTL).length - 2]];
			
			var totalcasesfr = lastday.total_cases;
			var totaldeathsfr = lastday.total_deaths;
			var todaycasesfr = lastday.new_daily_cases;
			var todaydeathsfr = lastday.new_daily_deaths;
			document.getElementById("total-deathsfr").innerHTML=totaldeathsfr;
			document.getElementById("total-casesfr").innerHTML=totalcasesfr;

			document.getElementById("today-casesfr").innerHTML=todaycasesfr;
			document.getElementById("today-deathsfr").innerHTML=todaydeathsfr;
			
		});

		
</script>

{% endblock %}