{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Mention légal</h1>
		</div>
	</div>
 
        <div class="w-50 mx-auto">

            <p style="text-align:center"><em>En vigueur au <span ng-repeat="cI in [208] track by $index"><span class="am_a_var" data-var-id="208">25/06/2020</span></span></em></p>

                <p style="text-align:center"></p>

                <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site <em><span ng-repeat="cI in [173] track by $index"><span class="am_a_var" data-var-id="173">https://solidarity-bond.fr</span></span></em> les présentes mentions légales.</p>

                <p>La connexion et la navigation sur le site (indiquer le nom du site) par l’Utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.</p>

                <p>Ces dernières sont accessibles sur le site à la rubrique «Mentions légales».</p>
                </span></span><span><span data-id="2" class="preview-row"></span></span><span><span data-id="18" class="preview-row"></span></span><span><span data-id="138" class="preview-row"><h3>ARTICLE 1: L’éditeur</h3>

                <p>L’édition et la direction de la publication du site <span ng-repeat="cI in [173] track by $index"><span class="am_a_var" data-var-id="173">https://solidarity-bond.fr</span>est assurée par <span ng-repeat="cI in [184] track by $index"><span class="am_a_var" data-var-id="184">VARELA Alexis</span>, domiciliée <span ng-repeat="cI in [185] track by $index"><span class="am_a_var" data-var-id="185">37 Rue de la Résidence du parc</span>, dont lenuméro de téléphone est <span ng-repeat="cI in [186] track by $index"><span class="am_a_var" data-var-id="186">07 60 11 35 27 </span>, et l'adresse e-mail <span ng-repeat="cI in [187] track by $index"><span class="am_a_var" data-var-id="187">alexis.varela@vicesi.fr</span>.</span></span></span></span></span></p>

                <p></p>
                </span></span><span><span data-id="139" class="preview-row"></span></span><span><span data-id="157" class="preview-row"></span></span><span><span data-id="168" class="preview-row"><h3>ARTICLE 2: L’hébergeur</h3>

                <p>L'hébergeur du site <span ng-repeat="cI in [173] track by $index"><span class="am_a_var" data-var-id="173">https://solidarity-bond.fr</span>est la Société <span ng-repeat="cI in [217] track by $index"><span class="am_a_var" data-var-id="217">Infomaniak Network SA</span>, dont le siège social est situé au <span ng-repeat="cI in [218] track by $index"><span class="am_a_var" data-var-id="218">Rue Eugène-Marziano 25, 1227 Genève - Suisse</span> , avec le numéro de téléphone : <span ng-repeat="cI in [219] track by $index"><span class="am_a_var" data-var-id="219">+41 (0)22 820 35 44</span>.</span></span></span></span></p>

                <h3>ARTICLE 3: Accès au site</h3>

                <p>Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.</p>

                <p>En cas de modification, interruption ou suspension des services le site <em><span ng-repeat="cI in [173] track by $index"><span class="am_a_var" data-var-id="173">https://solidarity-bond.fr</span></span></em>ne saurait être tenu responsable.</p>
                </span></span><span><span data-id="40" class="preview-row"></span></span><span><span data-id="143" class="preview-row"><h3>ARTICLE 4: Collecte des données</h3>

                <p><span style="font-size:14px line-height:1.6">Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Le site est déclaré à la CNIL sous le numéro </span><em style="font-size:14px line-height:1.6"><span ng-repeat="cI in [203] track by $index">.</span></em></p>

                <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :</p>
                </span></span><span><span data-id="145" class="preview-row"></span></span><span><span data-id="146" class="preview-row"><p>· par mail à l'adresse mail<em><span ng-repeat="cI in [206] track by $index"><span class="am_a_var" data-var-id="206"> contact@solidarity-bond.fr</span></span></em></p>
                </span></span><span><span data-id="149" class="preview-row"><p>· via son espace personnel</p>
                </span></span><span><span data-id="150" class="preview-row"><h3>ARTICLE 5: Cookies</h3>

                <p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.</p>

                <p>En naviguant sur le site, il les accepte.</p>

                <p>Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>

                <p></p>

                <h3>ARTICLE 6: Propriété intellectuelle</h3>

                <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site <em><span ng-repeat="cI in [173] track by $index"><span class="am_a_var" data-var-id="173">https://solidarity-bond.fr</span></span></em>, sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
                </span></span><span><span data-id="49" class="preview-row"></span></span><span><span data-id="160" class="preview-row"></span></span><span><span data-id="162" class="preview-row"></span></span>
                <br>
        </div>
		

{% endblock %}
