{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">DÉCLARATION DE CONFIDENTIALITÉ</h1>
		</div>
	</div>
{# 
        <div class="w-50 mx-auto">
	<p>

		<h3>ARTICLE 1 – RENSEIGNEMENTS PERSONNELS RECUEILLIS</h3>
		<br>

		Lorsque vous effectuez un achat sur notre boutique, dans le cadre de notre processus d’achat et de vente, nous recueillons les renseignements personnels que vous nous fournissez, tels que votre nom, votre adresse et votre adresse e-mail.
                Lorsque vous naviguez sur notre boutique, nous recevons également automatiquement l’adresse de protocole Internet (adresse IP) de votre ordinateur, qui nous permet d’obtenir plus de détails au sujet du navigateur et du système d’exploitation que vous utilisez.
		Marketing par e-mail (le cas échéant): Avec votre permission, nous pourrions vous envoyer des e-mails au sujet de notre boutique, de nouveaux produits et d’autres mises à jour.

		<br><br><br>
		<h3>ARTICLE 2 - CONSENTEMENT</h3>
		<br>
		Comment obtenez-vous mon consentement?
		<br>
		Lorsque vous nous fournissez vos renseignements personnels pour conclure une transaction, vérifier votre carte de crédit, passer une commande, planifier une livraison ou retourner un achat, nous présumons que vous consentez à ce que nous recueillions vos renseignements et à ce que nous les utilisions à cette fin uniquement.
		Si nous vous demandons de nous fournir vos renseignements personnels pour une autre raison, à des fins de marketing par exemple, nous vous demanderons directement votre consentement explicite, ou nous vous donnerons la possibilité de refuser.
		Comment puis-je retirer mon consentement?
		Si après nous avoir donné votre consentement, vous changez d’avis et ne consentez plus à ce que nous puissions vous contacter, recueillir vos renseignements ou les divulguer, vous pouvez nous en aviser en nous contactant à contact.bdestrasbourg@gmail.com ou par courrier à: BDE CESI Strasbourg Parc Club des Tanneries, 2 Allée des Foulons , Lingolsheim,  67380, France
		<br><br><br>

		<h3>ARTICLE 3 – DIVULGATION</h3>
		<br>
		Nous pouvons divulguer vos renseignements personnels si la loi nous oblige à le faire ou si vous violez nos Conditions Générales de Vente et d’Utilisation.
		<br><br><br>

		<h3>ARTICLE 4 – HEBERGEMENT</h3>
		<br>
		Nous stockons vos données dans une base de donnée sécurisé sur les serveurs de Infomaniak.
		        
                 Paiement:
                 Les renseignements relatifs à votre transaction d’achat sont conservés aussi longtemps que nécessaire pour finaliser votre commande. Une fois votre commande finalisée, les renseignements relatifs à la transaction d’achat sont supprimés.
		 Toute commande vous engage a un payement en ligne ou, si non disponible a un payement avec nos membre dans votre centre CESI.
		<br><br><br>

		<h3>ARTICLE 5 – SERVICES FOURNIS PAR DES TIERS</h3>
		<br>
                Vous pourriez être amené à quitter notre site web en cliquant sur certains liens présents sur notre site. Nous n’assumons aucune responsabilité quant aux pratiques de confidentialité exercées par ces autres sites et vous recommandons de lire attentivement leurs politiques de confidentialité.
		<br><br><br>

		<h3>ARTICLE 6 – SÉCURITÉ</h3>
                <br>
		Pour protéger vos données personnelles, nous prenons des précautions raisonnables et suivons les meilleures pratiques de l’industrie pour nous assurer qu’elles ne soient pas perdues, détournées, consultées, divulguées, modifiées ou détruites de manière inappropriée.
		Si vous nous fournissez vos informations de carte de crédit, elles seront chiffrées par le biais de l’utilisation du protocole de sécurisation SSL et conservées avec un chiffrement de type AES-256. Bien qu’aucune méthode de transmission sur Internet ou de stockage électronique ne soit sûre à 100 %, nous suivons toutes les exigences de la norme PCI-DSS et mettons en œuvre des normes supplémentaires généralement reconnues par l’industrie.
		<br>
		FICHIERS TÉMOINS (COOKIES)
		Voici une liste de fichiers témoins que nous utilisons. Nous les avons énumérés ici pour que vous ayez la possibilité de choisir si vous souhaitez les autoriser ou non.
		Contient votre panier dans notre boutique, il seras conservé au maximum 1 an conformément a la durée légale en vigueur.
		<br><br><br>
		
                <h3>ARTICLE 7 – ÂGE DE CONSENTEMENT</h3>
		<br>
		En utilisant ce site, vous déclarez que vous avez au moins l’âge de la majorité dans votre État ou province de résidence, et que vous nous avez donné votre consentement pour permettre à toute personne d’âge mineur à votre charge d’utiliser ce site web.
		        
		<br><br><br>     
		<h3>ARTICLE 8 – MODIFICATIONS APPORTÉES À LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ</h3>
		<br>       
		 Nous nous réservons le droit de modifier la présente politique de confidentialité à tout moment, donc veuillez s’il vous plait la consulter fréquemment. Les changements et les clarifications prendront effet immédiatement après leur publication sur le site web. Si nous apportons des changements au contenu de cette politique, nous vous aviserons ici qu’elle a été mise à jour, pour que vous sachiez quels renseignements nous recueillons, la manière dont nous les utilisons, et dans quelles circonstances nous les divulguons, s’il y a lieu de le faire.
		 Si notre boutique fait l’objet d’une acquisition par ou d’une fusion avec une autre entreprise, vos renseignements pourraient être transférés aux nouveaux propriétaires pour que nous puissions continuer à vous vendre des produits.
		 QUESTIONS ET COORDONNÉES
		 Si vous souhaitez: accéder à, corriger, modifier ou supprimer toute information personnelle que nous avons à votre sujet, déposer une plainte, ou si vous souhaitez simplement avoir plus d’informations, contactez notre agent responsable des normes de confidentialité à contact.bdestrasbourg@gmail.com ou par courrier à BDE CESI Strasbourg
		 [Re: Agent des Normes de Confidentialité]
		 [Parc Club des Tanneries, 2 Allée des Foulons , Strasbourg Lingolsheim, A, 67380, France]
		    

	</p>
        </div> #}

		<div class="w-50 mx-auto">


		<div id="texte_a_afficher" class="texte_inselectionnable" style="height: 756px;">
						<span class="stabilisation"></span><p style="text-align: center;"><strong>POLITIQUE DE CONFIDENTIALITÉ</strong>
<p style="text-align: center;"><strong>DU SITE&nbsp;: </strong>
<p style="text-align: center;"><strong><span id="span_id_nom_du_site">Solidarity-Bond</span> </strong>
<br><br>
<p style="text-align: center;"><strong>ARTICLE 1&nbsp;: PRÉAMBULE<br><br></strong>
Cette politique de confidentialité s'applique au site&nbsp;: <span id="span_id_nom_du_site">Solidarity-Bond</span>. <br><br>
La présente politique de confidentialité a pour but d'exposer aux utilisateurs du site&nbsp;:
<ul>
<li>La manière dont sont collectées et traitées leurs données à caractère personnel. Doivent être considérées comme données personnelles toutes les données étant susceptibles d'identifier un utilisateur. Il s'agit notamment du prénom et du nom, de l'âge, de l'adresse postale, l'adresse mail, la localisation de l'utilisateur ou encore son adresse IP&nbsp;;</li>
</ul>
<ul>
<li>Quels sont les droits des utilisateurs concernant ces données&nbsp;;</li>
</ul>
<ul>
<li>Qui est responsable du traitement des données à caractère personnel collectées et traitées&nbsp;;</li>
</ul>
<ul>
<li>A qui ces données sont transmises&nbsp;;</li>
</ul>
<ul>
<li>Eventuellement, la politique du site en matière de fichiers "cookies".</li>
</ul>
<br>Cette politique de confidentialité complète les mentions légales et les Conditions Générales d'Utilisation que les utilisateurs peuvent consulter à l'adresse ci-après&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_url_cgu">https://solidarity-bond.fr</span>
<p style="text-align: center;"><span style="font-weight: bold; font-size: 14.56px;"><br></span><strong>ARTICLE 2&nbsp;: PRINCIPES GÉNÉRAUX EN MATIÈRE DE COLLECTE ET DE TRAITEMENT DE DONNÉES</strong><br><br>
Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants&nbsp;:
<ul>
<li>Licéité, loyauté et transparence&nbsp;: les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées&nbsp;;</li>
</ul>
<ul>
<li>Finalités limitées&nbsp;: la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes conditions générales d'utilisation&nbsp;;</li>
</ul>
<ul>
<li>Minimisation de la collecte et du traitement des données&nbsp;: seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées&nbsp;;</li>
</ul>
<ul>
<li>Conservation des données réduites dans le temps&nbsp;: les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Lorsque cette information ne peut pas être communiquée, l'utilisateur est informé des critères utilisés pour déterminer la durée de conservation&nbsp;;</li>
</ul>
<ul>
<li>Intégrité et confidentialité des données collectées et traitées&nbsp;: le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.<br><br></li>
</ul>
Afin d'être licites, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées&nbsp;:
<ul>
<li>L'utilisateur a expressément consenti au traitement&nbsp;;</li>
</ul>
<ul>
<li>Le traitement est nécessaire à la bonne exécution d'un contrat&nbsp;;</li>
</ul>
<ul>
<li>Le traitement répond à une obligation légale&nbsp;;</li>
</ul>
<ul>
<li>Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique&nbsp;;</li>
</ul>
<ul>
<li>Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique&nbsp;;</li>
</ul>
<ul>
<li>Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.</li>
</ul>
<p style="text-align: center;"><br><strong>ARTICLE 3&nbsp;: DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE CADRE DE LA NAVIGATION SUR LE SITE<br><br></strong>
<p style="padding-left: 30px;"><strong>A. </strong>DONNÉES COLLECTÉES ET TRAITÉES ET MODE DE COLLECTE
Les données à caractère personnel collectées sur le site <span id="span_id_nom_du_site_internet">Solidarity-Bond</span> sont les suivantes&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_liste_donnees_collectees">Nom<br>Prénom<br>Adresse<br>Adresse Email<br>Numéro de téléphone</span>
Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_operations_collectes_donnees">Lorsque l'utilisateur s'inscrit<br>Lorsque l’utilisateur achète un produit</span> 
Par ailleurs, lors d'un paiement sur le site, il sera conservé dans les systèmes informatiques de l'éditeur du site une preuve de la transaction comprenant le bon de commande et la facture. 
Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de&nbsp;: <span id="span_id_duree_conservation_donnees">La durée du projet soit 2 mois maximum</span>.
La collecte et le traitement des données répondent aux finalités suivantes&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_finalite_traitement_donnees">Les données tels que le numéro de téléphone ou adresse email permettent de vous contacter. Les données tels que l'adresse postal ainsi que le nom et prénom pour vous envoyez le produit si celui-ci est envoyé.</span> <br><br>
<p style="padding-left: 30px;"><strong>B.</strong> TRANSMISSION DES DONNÉES A DES TIERS

Les données à caractère personnel collectées par le site ne sont transmises à aucun tiers, et ne sont traitées que par l'éditeur du site. <br><br>
<p style="padding-left: 30px;"><strong>C.</strong> HÉBERGEMENT DES DONNÉES
Le site <span id="span_id_nom_du_site_internet">Solidarity-Bond</span> est hébergé par&nbsp;: <span id="span_id_denomination_sociale_de_l_hebergeur">Infomaniak Network SA</span>, dont le siège est situé à l'adresse ci-après&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_siege_social_de_l_hebergeur">Rue Eugène-Marziano 25, 1227 Genève - Suisse</span>
L'hébergeur peut être contacté au numéro de téléphone suivant&nbsp;: <span id="span_id_telephone_de_l_hebergeur">+41 (0)22 820 35 44</span> 
Les données collectées et traitées par le site sont transférées vers le(s) pays suivant(s)&nbsp;: <span id="span_id_pays_transfert_donnees">Suisse</span>. 
<p style="text-align: center;"><br><strong>ARTICLE 4&nbsp;: RESPONSABLE DU TRAITEMENT DES DONNÉES </strong>

<p style="padding-left: 30px;"><strong>A. </strong>LE RESPONSABLE DU TRAITEMENT DES DONNÉES
Le responsable du traitement des données à caractère personnel est&nbsp;: <span id="span_id_prenom_nom_responsable">Samil ERDOGAN, Alexis VARELA et Victor BERNARD</span>. Il peut être contacté de la manière suivante&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_methode_contact_rtd">Via les adresses email suivantes:<br>samil.erdogan@viacesi.fr<br>alexis.varela@viacesi.fr<br>victor.bernard@viacesi.fr</span>
Le responsable du traitement des données est chargé de déterminer les finalités et les moyens mis au service du traitement des données à caractère personnel. <br><br>
<p style="padding-left: 30px;"><strong>B. </strong>OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES
Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.
Le site dispose d'un certificat SSL afin de garantir que les informations et le transfert des données transitant par le site sont sécurisés.
Un certificat SSL ("Secure Socket Layer" Certificate) a pour but de sécuriser les données échangées entre l'utilisateur et le site. 
De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés.
Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'utilisateur est compromise, le responsable du traitement s'engage à informer l'utilisateur par tout moyen. <br><br>
<p style="text-align: center;"><strong>ARTICLE 5&nbsp;: DROITS DE L'UTILISATEUR </strong><br><br>
Conformément à la réglementation concernant le traitement des données à caractère personnel, l'utilisateur possède les droits ci-après énumérés.
Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer&nbsp;: ses prénom et nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.
Le responsable du traitement des données est tenu de répondre à l'utilisateur dans un délai de 30 (trente) jours maximum.<br><br>
<p style="padding-left: 30px;"><strong>A.</strong> PRÉSENTATION DES DROITS DE L'UTILISATEUR EN MATIÈRE DE COLLECTE ET TRAITEMENT DE DONNÉES
<em><br>a. Droit d'accès, de rectification et droit à l'effacement</em>
L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_procedure_acces_donnees">L'utilisateur peut modifier ses informations directement dans l'interface conçu pour cette effet dans l'espace "Profil" ou nous envoyer un mail à l'adresse: contact@solidarity-bond.fr</span> 
S'il en possède un, l'utilisateur a le droit de demander la suppression de son espace personnel en suivant la procédure suivante&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_procedure_suppression_compte">L'utilisateur doit nous envoyer un mail décrivant ca demande de suppression et ces données seront immédiatement supprimé.</span><br><br>
<em>b. Droit à la portabilité des données</em>
L'utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site, en se conformant à la procédure ci-après&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_procedure_portabilite_donnees_personnelles">L'utilisateur doit nous envoyer un mail décrivant ca demande de portabilité et celle ci sera traité en conséquence.</span>
<br><em>c. Droit à la limitation et à l'opposition du traitement des données</em>
L'utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'utilisateur.
Afin de demander la limitation du traitement de ses données ou de formuler une opposition au traitement de ses données, l'utilisateur doit suivre la procédure suivante&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_procedure_limitation_traitement">L'utilisateur doit nous envoyer un mail décrivant ca demande de limitation et celle ci sera traité en conséquence.</span><br><br>
<em>d. Droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé</em>
Conformément aux dispositions du règlement 2016/679, l'utilisateur a le droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé si la décision produit des effets juridiques le concernant, ou l'affecte de manière significative de façon similaire.
<br><em>e. Droit de déterminer le sort des données après la mort</em>
Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321 du 7 octobre 2016.
<br><em>f. Droit de saisir l'autorité de contrôle compétente</em>
Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'utilisateur, et que l'utilisateur souhaite contester cette décision, ou, s'il pense qu'il est porté atteinte à l'un des droits énumérés ci-dessus, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés, https://www.cnil.fr) ou tout juge compétent. <br><br>
<p style="padding-left: 30px;"><span style="font-weight: bold; font-size: 14.56px;">B. </span>DONNÉES PERSONNELLES DES PERSONNES MINEURES
Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitement de leurs données personnelles.
Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que des données à caractère personnel puissent être collectées et traitées.
L'éditeur du site se réserve le droit de vérifier par tout moyen que l'utilisateur est âgé de plus de 15 ans, ou qu'il aura obtenu l'accord d'un représentant légal avant de naviguer sur le site.
<p style="text-align: center;"><br><strong>ARTICLE 6&nbsp;: UTILISATION DES FICHIERS "COOKIES"<br><br></strong>
Le site a éventuellement recours aux techniques de "cookies".
Un "cookie" est un fichier de petite taille (moins de 4 ko), stocké par le site sur le disque dur de l'utilisateur, contenant des informations relatives aux habitudes de navigation de l'utilisateur.
Ces fichiers lui permettent de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur.
Pour l'utilisation de fichiers "cookies" impliquant la sauvegarde et l'analyse de données à caractère personnel, le consentement de l'utilisateur est nécessairement demandé.
Ce consentement de l'utilisateur est considéré comme valide pour une durée de 13 (treize) mois maximum. A l'issue de cette période, le site demandera à nouveau l'autorisation de l'utilisateur pour enregistrer des fichiers "cookies" sur son disque dur.
<br><em>a. Opposition de l'utilisateur à l'utilisation de fichiers "cookies" par le site</em>
Il est porté à la connaissance de l'utilisateur qu'il peut s'opposer à l'enregistrement de ces fichiers "cookies" en configurant son logiciel de navigation.
Pour information, l'utilisateur peut trouver aux adresses suivantes les démarches à suivre afin de configurer son logiciel de navigation pour s'opposer à l'enregistrement des fichiers "cookies"&nbsp;:
<ul>
<li><strong>Chrome</strong>&nbsp;: https://support.google.com/accounts/answer/61416?hl=fr</li>
</ul>
<ul>
<li><strong>Firefox</strong>&nbsp;: https://support.mozilla.org/fr/kb/enable-and-disable-cookies-website-preferences</li>
</ul>
<ul>
<li><strong>Safari</strong>&nbsp;: http://www.apple.com/legal/privacy/fr-ww/</li>
</ul>
<ul>
<li><strong>Internet Explorer</strong>&nbsp;: https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</li>
</ul>
<ul>
<li><strong>Opera</strong>&nbsp;: http://www.opera.com/help/tutorials/security/cookies/</li>
</ul>
<br>Dans le cas où l'utilisateur décide de désactiver les fichiers "cookies", il pourra poursuivre sa navigation sur le site. Toutefois, tout dysfonctionnement du site provoqué par cette manipulation ne pourrait être considéré comme étant du fait de l'éditeur du site.
<br><em>b. Description des fichiers "cookies" utilisés par le site</em>
L'éditeur du site attire l'attention de l'utilisateur sur le fait que les cookies suivants sont utilisés lors de sa navigation&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_liste_cookies"><span class="variable_vide">________</span></span> <br><br>
<p style="text-align: center;"><strong>ARTICLE 7&nbsp;: CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ<br><br></strong>
La présente politique de confidentialité peut être consultée à tout moment à l'adresse ci-après indiquée&nbsp;:
<p style="padding-left: 30px;"><span id="span_id_adresse_politique_confidentialite">https://solidarity-bond.fr/mention_legal</span>
L'éditeur du site se réserve le droit de la modifier afin de garantir sa conformité avec le droit en vigueur.
Par conséquent, l'utilisateur est invité à venir consulter régulièrement cette politique de confidentialité afin de se tenir informé des derniers changements qui lui seront apportés.
Il est porté à la connaissance de l'utilisateur que la dernière mise à jour de la présente politique de confidentialité est intervenue le&nbsp;: <span id="span_id_date_derniere_maj" class="encours">25/06/2020</span>.

<br>
		

</div>
{% endblock %}
