/**
*Custom css sheet,
*Author : Samil ERDOGAN, Victor BERNARD, Alexis VARELA
*For : Projet Solidarity-Bond
*/

/** Colors **/

/**
* CSS for form
*/

.form_css {
    width: 75%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid;
    color: #999999;
  }

  #text_color {
    color: #999999;
  }

  #text_color:hover{
    color: #cccccc;
  }

  #button {
    margin-bottom: 10px;
  }

/**
* CSS for index
*/
  .example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
  }
  .example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
  }

/**
* CSS for alert
*/

  #notification {
    position: relative;
    margin-left: 80%;
    margin-bottom: 10px;
  }

/**
* CSS for images
*/

 #photo {
  width: auto;
  height: auto;
  margin-bottom: 10px;
  
 }

 #frame {
   margin-bottom: 20px;
 }

 /**
 * CSS for texte
 */

 #align {
   text-align: right;
 }

 /**
 * CSS for pictures
 */

 div.polaroid {
   width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

#polaroid {
  text-align: center;
  padding: 10px 20px;
}

/**
* CSS for footer
*/

#footer {
  background-color : #27251f;
  color: white;
  width: 100%;
  height: auto;
}

#copyright {
  background-color: #1d1d16;
  color: white;
}