{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}

		<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Rajouter du stock</h1>
			<p>Combien de produit avez vous fabriqué ?</p>
		</div>
	</div>

		<div class="container">
			<form action=" {{ path('admin_more') }}" class="form-signin w-50 mx-auto" method="post">
			<input placeholder="Nombre produit" name="morenum" type="integer" class="form_css mb-1"></input>
			<input name="id" type="hidden" value="{{ product.id }}"></input>

			<button type="submit" class="btn mt-3" id="button">
			Mettre à jour le stock
			</button>
		</div>


{% endblock %}
	
		