{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Enlever du stock</h1>
			<p>Combien de produit avez vous vendu ?</p>
		</div>
	</div>

		<div class="container">
			
			<form action=" {{ path('admin_sold') }}" class="form-signin w-50 mx-auto" method="post">
			<input placeholder="Nombre vendu" name="soldnum" type="integer" class="form_css mb-1"></input>
			<input name="id" type="hidden" value="{{ product.id }}"></input>

			<button type="submit" class="btn mt-3" id="button">
				Mettre à jour le stock
			</button>

		</div>





{% endblock %}
	
		