{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">
			<h1 class="display-4">Combien en avez-vous vendu ?</h1>
		</div>

		<div>
			<form action=" {{ path('admin_sold') }}" class="form-signin w-50 mx-auto" method="post">
			<input placeholder="Nombre vendu" name="soldnum" type="integer" class="bordered form-control mb-1"></input>
			<input name="id" type="hidden" value="{{ product.id }}"></input>

			<button type="submit" class="btn btn-dark btn-block colored bordered">
			Mettre à jour
			</button>
		</div>





{% endblock %}
	
		