{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}
    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Bienvenue sur l'interface FAB-LAB.</h1>

		</div>
	</div>


    
<div class="container" >

    <div class="card-deck">

        <div class="card zoom">
            <a class="stretched-link" href="{{path('admin_orders')}}"></a>
            <img class="card-img-top" src="/images/cart.png" alt="Image Cart">
            <div class="card-body">
                <h5 class="card-title">Gestion des commandes</h5>
            </div>
        </div>

        <div class="card zoom">
            <a class="stretched-link" href="{{path('admin_products')}}"></a>
            <img class="card-img-top" src="/images/visiere.jpg" alt="Image visieres">
            <div class="card-body">
                <h5 class="card-title">Gestion de la production</h5>
            </div>
        </div>

        <div class="card zoom">
            <a class="stretched-link" href="{{path('admin_users')}}"></a>
            <img class="card-img-top" src="/images/users.png" alt="Image users">
            <div class="card-body">
                <h5 class="card-title">Gestion des utilisateurs</h5>
            </div>
        </div>
    </div>
</div>




{% endblock %}