{% extends 'base.html.twig' %}

{% block title %}{% trans %}Interface FabLab{% endtrans %}
{% endblock %}
    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="h1-respons">{% trans %}Bienvenue sur l'interface FabLab{% endtrans %}</h1>
		</div>
	</div>


    
<div class="container" >

    <div class="row">

        <div class="card zoom col-xl-4 col-md-6 col-sm-12 mt-3">
            <a class="stretched-link" href="{{path('admin_orders')}}"></a>
            <img class="card-img-top" src="/images/cart.png" alt="Image Cart">
            <div class="card-body">
                <h5 class="card-title">{% trans %}Gestion des commandes{% endtrans %}</h5>
            </div>
        </div>

        <div class="card zoom col-xl-4 col-md-6 col-sm-12 mt-3">
            <a class="stretched-link" href="{{path('admin_products')}}"></a>
            <img class="card-img-top" src="/images/visiere.jpg" alt="Image visieres">
            <div class="card-body">
                <h5 class="card-title">{% trans %}Gestion de la production{% endtrans %}</h5>
            </div>
        </div>

        <div class="card zoom col-xl-4 col-md-6 col-sm-12 mt-3">
            <a class="stretched-link" href="{{path('admin_users')}}"></a>
            <img class="card-img-top" src="/images/users.png" alt="Image users">
            <div class="card-body">
                <h5 class="card-title">{% trans %}Gestion des utilisateurs{% endtrans %}</h5>
            </div>
        </div>
    </div>
</div>




{% endblock %}