{% extends 'base.html.twig' %}

{% block title %}Interface Fab-Lab
{% endblock %}

    {% block stylesheets %}{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Bienvenue sur la boutique Solidarity-Bond.</h1>
        </div>
    </div>     


        <div class="main">
        <ul class="cards">
        {% for product in products %}
            <li class="cards_item">
            <div class="card" style="width : 300px">
                <div class="card_image"><img src="../images/products/{{product.Image}}" style="width: 150px;height: 150px"></div>
                <div class="card_content">
                <h2 class="card_title">{{product.ProductName}}</h2>
                <p class="card_text">{{product.Description}}</p>
                <a href="{{path('show_product', {'id': product.id })}}" class="btn btn-primary stretched-link">Acheter</a>
                </div>
            </div>
            </li>
        {% endfor %}
          </ul>
    </div>



            

       
    </div >  
</div>  





{% endblock %}