{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Le FAB-LAB CESI</h1>
                        <p class="lead">Voici quelques informations supplémentaire en ce qui concerne le FAB-LAB CESI Strasbourg.</p>
		</div>
	</div>

        <div class="w-50 mx-auto">

            <h1>Full infos fab lab + photos + description + addresse etc..</h1>

                <h2> bouton contact </h2>
        </div>

{% endblock %}