{% extends 'base.html.twig' %}

{% block title %}{% trans %}À propos de nous{% endtrans %}
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% trans %}À propos{% endtrans %}</h1>
		</div>
	</div>

        <div class="width-responsive mx-auto">

        <div class="container">
                <h1>{% trans %}À Propos du Projet{% endtrans %}</h1>
                <br><br>
                <p>
                        {% trans %}Solidarity Bond - Strasbourg est un groupe de trois étudiants basé en France dans la région Grand Est. Le groupe a été crée dans le cadre d'un projet de substitution pour remplacer notre stage annulé suite à la pandémie de COVID-19.{% endtrans %}
                <br><br>
                        {% trans %}Ce projet a pour objectif de mettre en place un dispositif pour venir en aide aux personnes ayant besoins de protection.{% endtrans %}<br>
                        {% trans %}Solidarity Bond - Strasbourg imprime des visières de protections que cela soit pour des professionnels de la santé, des entreprises, des commerces ou encore des particuliers.{% endtrans %}
                <br><br>
                        {% trans %}Les visières sont imprimé au sein du FabLab de notre École d'ingénieur le CESI avec l'aide de notre FabLab Manager.{% endtrans %}</p>
                <br><br>

                <h1 >{% trans %}À Propos du Groupe{% endtrans %}</h1>
                <br><br>

                <div class="card-deck mb-5">

                        <div class="card">
                        <img class="card-img-top" src="/images/Samil.jpg" alt="Samil">
                        <div class="card-body">
                                <h5 class="card-title">Erdogan Samil</h5>
                                <a href="https://www.linkedin.com/in/samil-erdogan/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        </div>

                        <div class="card">
                        <img class="card-img-top" src="/images/Alexis.jpg" alt="Alexis">
                        <div class="card-body">
                                <h5 class="card-title">Varela Alexis</h5>
                                <a href="https://www.linkedin.com/in/alexis-varela/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        </div>

                        <div class="card">
                        <img class="card-img-top" src="/images/Victor.jpg" alt="Victor">
                        <div class="card-body">
                                <h5 class="card-title">Bernard Victor</h5>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        </div>
                </div>

                </div>
        </div>
        </div>

{% endblock %}