{% extends 'base.html.twig' %}

{% block title %}{% trans %} À propos du FabLab{% endtrans %}
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% trans %}Le FabLab CESI{% endtrans %}</h1>
		</div>
	</div>

        <div class="width-responsive mx-auto">
                <div class="container">
                        <div class="row">
                                <h1 class="col-12 mb-5 h1-respons" >{% trans %}À Propos{% endtrans %}</h1>
                                <br><br><br>
                                <p class="col-xl-6 col-md-12">
                                        {% trans %}Le FabLab du CESI Strasbourg met à disposition des entreprises, élèves, associations et particuliers un artilier de farication numérique ou "Fabrication Laboratory".{% endtrans %}
                                <br><br>
                                        {% trans %}Cet outils permet l'acquisition de nombreuses compétences par l'exploration de nouvelles méthodes de travail et d'équipement de pointe. Ce dispositif favorise le partage des connaissances et la recherche en groupe.{% endtrans %}    
                                
                                </p>
                                <div class="col-xl-6 contain-fade">
                                        <img id="photo" class="img-fluid float-right image-fade" src="/images/FabLab.jpg" alt="FabLab">
                                        <div class="overlay">FabLab</div>
                                </div>
                </div>
                        <div class="row">
                                <h1 class="col-12 mb-5 mt-5 h1-respons">{% trans %}Association{% endtrans %}</h1>
                                <br><br><br>
                                <div class="col-xl-6 col-md-12">
                                        <p>
                                                {% trans %}Au sein de l'école l'association FabEX (Fabrication, Electronique et eXpérimentation) nous propose différents service:{% endtrans %}
                                                <ul>
                                                        <li>{% trans %}Un accompagnement au prototypage avec des impressions 3D et la découpe laser{% endtrans %}</li>
                                                        <li>{% trans %}La conception de pièces mécaniques{% endtrans %}</li>
                                                        <li>{% trans %}La modélisation 3D{% endtrans %}</li>
                                                        <li>{% trans %}La création de stickers{% endtrans %}</li>
                                                        <li>{% trans %}Et sans oublier les discussions{% endtrans %}</li>
                                                </ul>
                                        </p>
                                </div>
                                <div class="col-xl-6 contain-fade">
                                        <img id="photo" class="img-fluid float-right image-fade" src="/images/FabEX.jpg" alt="FabEX">
                                        <div class="overlay ov">CNC</div>
                                </div>
                        </div>
                        <div class="row">
                                <h1 class="col-12 mb-5 mt-5 h1-respons">{% trans %}Les Équipements{% endtrans %}</h1>
                                <br><br><br>
                                <p class="col-xl-6 col-md-12">
                                        {% trans %}Notre FabLab possède de nombreux postes de travail et d'équipements divers et varié.{% endtrans %}
                                <br><br>
                                        {% trans %}Il y a un poste de travail pour les machines à commandes numériques (l'impression 3D et découpe vinyle), un pour l'électronique et l'électricité, un pour l'informatique et le multimédia ou encore de la robotique et réalité augmenté/modélisation.{% endtrans %}
                                <br><br>
                                        {% trans %}En équipements le FabLab possède trois imprimantes 3D, une découpeuse laser, une fraiseuse CNC, un plotter vinyle, du matériel de réalité virtuelle et bien évidement du matériel électronique.{% endtrans %}
                                </p>
                                
                                <div class="col-xl-6 contain-fade">
                                        <img id="photo" class="img-fluid float-right image-fade" src="/images/Imprimante.jpg" alt="Imprimente3S">
                                        <div class="overlay">Ultimaker S3</div>
                                </div>
                        </div>
                        <div class="row">
                                <h1 class="col-12 mb-5 mt-5 h1-respons">{% trans %}Notre FabLab Manager{% endtrans %}</h1>
                                <br><br><br>
                                <p class="col-xl-6 col-md-12">
                                        {% trans %}Notre FabLab Manager ce nomme Benoît DESTENAY.{% endtrans %}
                                <br><br>
                                        {% trans %}Vous pouvez le contacter via l'adresse suite:{% endtrans %} <a href="mailto:bdestenay@cesi.fr">bdestenay@cesi.fr</a>
                                </p>
                                
                                <div class="col-xl-6 contain-fade">
                                        <img id="photo" class="img-fluid float-right image-fade" src="/images/Benoit1.jpg" alt="Benoit-FabLabManager">
                                        <div class="overlay">Destenay Benoit</div>
                                </div>
                        </div>

                        <div class="row">
                                <h1 class="col-12 mb-5 mt-5 h1-respons">{% trans %}Adresse{% endtrans %}</h1>
                                <br><br><br>
                                <p class="col-xl-6 col-md-12">
                                        {% trans %}Notre FabLab se situe au:{% endtrans %}
                                        <br><br>
                                        Campus CESI - Parc des Tanneries
                                        <br>
                                        2 Allée des Foulons, 67380
                                        <br>
                                        Strasbourg Lingolsheim                                        
                                </p>
                                <iframe id="frame" class="col-xl-6 float-left" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2220.4902409127294!2d7.695968558746241!3d48.559619414034664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe65ffc5a0cfc011d!2sCampus%20CESI!5e0!3m2!1sfr!2sfr!4v1591978554031!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>

                </div>
        </div>

{% endblock %}