{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">A propos</h1>
                        <p class="lead">Voici quelques informations supplémentaire</p>
		</div>
	</div>

        <div class="w-50 mx-auto">

            <h1>Full infos fab lab + photos + description + addresse etc..</h1>


        </div>

{% endblock %}